.FilSearch_wrapper {
    display: flex;
    margin-top: 20px;
}

.Filter {
    width: 50%;
}

.Filter_select {
    width: 50%;
    height: 30px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.Filter_select>option {
    font-size: 20px;
    cursor: pointer;
}

.Search {
    width: 75%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Search_input {
    width: 50%;
    height: 26px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 20px;
}

.Search_img {
    position: absolute;
    width: 17px;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}