.Header {
    display: flex;
    padding: 20px 0px;
    align-items: center;

    border-bottom: 1px solid rgb(226, 226, 226);
}

.Header>div {
    display: flex;
}

.Header .header_title {
    width: 90%;
    font-size: 35px;
    justify-content: center;
}

.Header .header_left {
    width: 5%;
    font-size: 25px;
    justify-content: flex-start;
}
.Header .header_right {
    width: 5%;
    font-size: 25px;
    justify-content: flex-end;
}
.Header .header_left .header_home{
    cursor: pointer;
}
.Header .header_right .header_favorite {
    cursor: pointer;
}