.menu_wrapper {
    display: flex;
    font-size: 25px;
    padding: 30px 0px;
    height: 40px;
    line-height: 1.5;
}

.menu_wrapper .menu_tour{
    width: 25%;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #f3a683;
}

.menu_wrapper .menu_tour:hover {
    color: white;
    cursor: pointer;
}

.menu_wrapper .menu_food {
    width: 25%;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #778beb;
}

.menu_wrapper .menu_food:hover {
    color: white;
    cursor: pointer;
}

.menu_wrapper .menu_hotel {
    width: 25%;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #63cdda;
}

.menu_wrapper .menu_hotel:hover {
    color: white;
    cursor: pointer;
}

.menu_wrapper .menu_shp {
    width: 25%;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #f8a5c2;
}

.menu_wrapper .menu_shp:hover {
    color: white;
    cursor: pointer;
}